.home-bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #b97e7e;
}
.home-nav-list{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #e07f7f;
}
.home-bg-img{
    background: url('./src/imgs/banner_1.jpg');
};